.layout-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.appbar {
  width: 100%;
  background-color: #014963 !important;
  color: #ffffff !important;
}

.main-content {
  padding: 16px;
}
.nav-typo {
  color: white;
}

.nav-button {
  color: #a5a9a0f8 !important;
  text-transform: none;
}

.nav-button:hover {
  color: #90caf9 !important;
}

.active-button {
  color: #ffffff !important;
}
