.deptList-container {
  margin: auto;
  width: 60%;
}
.circular-progress {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 768px) {
  .deptList-container {
    width: 90%;
  }
}
